@import "../../../styles/variables.scss";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  // Tela cheia
    background-color: $background-color;  // Defina a cor de fundo do body
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; 
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 140px;  
    height: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button {
    width: 100%;
    padding: 12px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}

.divider {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 24px;
    margin-top: 16px;
    color: #333;
}
